*{
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profile{
    width: 100%;
    float: left;
    color: #fffffc;
    text-shadow: #000;
    background-image: url("../images/wallpapergalaxy.jpeg");
    background-size: cover;
    text-align: center;
}
.wrapper_profile{
    background-color: rgba(127, 255, 212, 0);
    padding: 20px;
    float: left;
    width: 100%;
}
.photo_name{
    width: 50%;
    float: left;
    padding: 15px;
    margin: 0 25%;
    background-color: rgba(68, 0, 255, 0.068);
    border-radius: 10px;
}
.photo_name img{
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
.photo_name h1{
    text-align: center;
}
.detail_profile{
    float: left;
    text-align: center;
    width: 100%;
}
.detail_profile h3{
    margin-block-end: 2px;
}
.detail_profile p{
    margin-block-start: 2px;
}
.flex_box{
    display: flex;
}
.flex_box li{
    flex: auto;
    list-style: none;
    padding: 30px;
}
.flex_box img{
    width: 100%;
    padding: 10%;
    border-radius: 5%;
    background-color: #ccdbfd;
}
.flex_box h4{
    text-align: center;
}
.skills_experience{
    width: 100%;
    background-color: #ccdbfd;
    margin-top: 5px;
    float: left;
}
.skills{
    float: left;
    width: 50%;
    border-right: #5a189a;
    border-style: none solid none none;
    padding: 20px;
}
.experiences{
    float: left;
    width: 50%;
    padding: 20px;
}
.skills h3{
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0 30px 20px;
    margin: 0;
    color: #fffffc;
    text-shadow: #000;
    background-image: url("../images/wallpapergalaxy.jpeg");
    background-size: cover;
}
.skill{
    float: right;
}
.skill img{
    float: right;
    width: 50px;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 20px;
}
.skill_desc{
    float: right;
    width: 70%;
}

.skill_desc h4{
    float: right;
    text-align: right;
    margin: 10px;
    width: 60%;
}
.skill_desc p{
    float: right;
    text-align: right;
    margin: 10px;
}
.experiences h3{
    float: left;
    width:100%;
    text-align: center;
    padding: 20px 0px 30px 20px;
    margin: 0px;
    color: #fffffc;
    text-shadow: #000;
    background-image: url("../images/wallpapergalaxy.jpeg");
    background-size: cover;
}
.experiences h4{
    float: left;
    text-align: left;
    margin: 10px;
    width: 100%;
}
.experiences p{
    float: left;
    text-align: left;
    margin: 10px;
    width: 100%;
}
.educations{
    width: 100%;
    background-color: rgb(45, 34, 105);
    margin-top: 5px;
    float: left;
    padding-bottom: 20px;
    color: #fffffc;
    text-shadow: #000;
    background-image: url("../images/wallpapergalaxy.jpeg");
    background-size: cover;
}
.educations h3{
    text-align: center;
    background-color: #ccdbfd;
    padding: 20px;
    margin: 0;
    color: black;
    text-shadow: blanchedalmond;
}
.container{
    margin: 20px auto;
    width: 40%;
}
.edu_left{
    float: left;
    width: 100%;
    border-color: #ccdbfd;
    border-style: solid none solid solid;
    padding:10px;
    text-align: left;
}
.edu_right{
    float: left;
    width: 100%;
    border-color: #ccdbfd;
    border-style: none solid none none;
    padding:10px;
    text-align: right;
}